---
interface Props {
  cardTitle: string;
  cardParagraphText: string;
  cardButtonLink: string;
  bgColor: string;
  stickyIcon: string;
  tags: string[];
}

const {cardTitle, cardParagraphText, cardButtonLink, bgColor, stickyIcon, tags} = Astro.props; 
---

<!-- the feature cards on the landing page -->
<a href={cardButtonLink} class="feature-card-link">
  <div class="feature-card" style={`background: ${bgColor};`}>
    <div class="sticky-note">
      <div class="sticky-icon">{stickyIcon}</div>
    </div>
    <h3 class="feature-title">{cardTitle}</h3>
    <p class="feature-description">{cardParagraphText}</p>
    <div class="feature-tags">
      {tags.map(tag => (
        <span class="feature-tag">{tag}</span>
      ))}
    </div>
  </div>
</a>